button{
    background-image:linear-gradient(black,maroon);
    opacity: 80%;
    color:indianred;
    cursor: pointer;
    font-family: cursive;
    width:200px;
    height: 60px;
    font-size:20px;
    margin:50px;

&:hover{
    color:indianred;
    height: 60px;
    box-shadow: 5px 3px 5px rgb(12, 187, 218);
button:after{animation:shine 1s .2s ease-in-out forwards;}
}

button:after{
    position: absolute;
    background-image:linear-gradient(
        90deg,
        rgba(209,112,60,0),
        rgba(255,255,255,0.5)50%,
        rgba(209,112,60,0)
    );
    transform:rotate(-30deg);

}

}